<h2>Login</h2>
<br>
<form action="<%= session_url %>" method="post">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="username">Username
        <input type="text" name="user[username]" id="username">
    </label>

    <label for="password">Password
        <input type="password" name="user[password]" id="password">
    </label>

    <button type="submit">Login</button>

</form>