<h1>Create New Account</h1>

<form action="<%= users_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="user_username">username
        <input type="text" name="user[username]" id="user_username">
    </label>

    <label for="user_password">password
        <input type="password" name="user[password]" id="user_password">
    </label>
    
    <button type="submit">create account</button>
</form>